@use "base/variables" as v;
@use "base/mixins" as m;

//,HOME SECTION ANIMATIONS

//* SLIDE ANIMATION
.slide-right {
  -webkit-animation: slide-right 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-right 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

.slide-left {
  -webkit-animation: slide-left 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
.shadow-drop-2-center {
  -webkit-animation: shadow-drop-2-center 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: shadow-drop-2-center 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

//* TYPING ANIMATION
.home-animation {
  text-align: center;
  span {
    position: relative;
  }
}

.home-animation span::before {
  content: "Systems Engineer";
  color: v.$red;
  animation: words 20s infinite;
}
.home-animation span::after {
  content: "";
  background-color: v.$beige;
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  border-left: 5px solid v.$beige;
  right: -5px;
  animation: typing 20s steps(14) infinite;
}

@keyframes words {
  0%,
  20% {
    content: "Systems Engineer";
  }
  21%,
  40% {
    content: "Chemical Engineer";
  }
  41%,
  60% {
    content: "Data Analyst";
  }
  61%,
  80% {
    content: "Web Developer";
  }
  81%,
  100% {
    content: "Leader";
  }
}

@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 10px);
  }
}

//*SCROLL DOWN BUTTON ANIMATION
.home__scroll {
  display: block;
  width: max-content;
  margin: 0 auto;
  color: v.$grey;
}

.home__scroll-text {
  display: none;
}

.home__scroll-box {
  background-color: v.$black;
  color: v.$white;
  width: 36px;
  height: 36px;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.4s, border-radius 0.3s;
  position: relative;

  &:hover {
    background-color: v.$red;
    color: v.$black;
    border-radius: 50%;
  }
}

@keyframes scroll {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

.home__scroll-box .ri-arrow-down-double-line {
  animation: scroll 1s infinite;
}

//,CAREER SECTION

//* INFO TIMELINE

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.timeline-content,
.timeline-content-exp {
  animation: fadeInUp 0.5s ease-in-out;
}
