@use "base/variables" as v;
@use "base/mixins" as m;

.gallery__projects-img {
  margin: 1rem;

  @include m.tablet {
    margin: 1rem 4rem 1rem 4rem;
    padding: 1rem;
  }
  @include m.desktop {
    width: 80%;
    margin: 0 auto 4rem auto;
    padding: 2rem;
  }
}

.carousel-control-next i {
  font-size: 2rem;
  color: #000000;
  @include m.tablet {
    font-size: 4rem;
  }
}

.carousel-control-prev i {
  font-size: 2rem;

  @include m.tablet {
    font-size: 4rem;
  }
}

.carousel-caption {
  background-color: v.$beige;
  margin-top: 2rem;
  border-radius: 2rem;

  h5 {
    font-size: 1.7rem;
  }
  p {
    font-size: 1.5rem;
  }
}

#carouselExampleDark {
  transition: transform 0.3s ease;
}

.d-block {
  &.w-100 {
    border-radius: 20px;
    background-color: v.$beige;
  }
}

#carouselExampleDark:hover {
  transform: scale(1.05);
}

.project__description-info {
  margin-top: 3rem;
  background-color: v.$white;
  border-radius: 121px 32px 32px 148px;
  -moz-border-radius: 121px 32px 32px 148px;
  -webkit-border-radius: 121px 32px 32px 148px;
  border: 0px solid #000000;
  @include m.tablet {
    margin-top: 5rem;
  }
}

.description__image {
  position: relative;
  width: 400px;
  margin: 4rem auto;
  padding-left: 2rem;
}
.description__img {
  max-width: 75%;
  position: relative;
  z-index: 1;
  border-radius: 5px;
  @include m.tablet {
    max-width: 95%;
  }
}

.description__box-shadow {
  border-radius: 5px;
  width: 300px;
  height: 250px;
  left: 3rem;
  top: 2rem;
  position: absolute;
  background-color: v.$red;
  box-shadow: 0 10px 15px v.$red, 0 25px 50px v.$red;

  @include m.tablet {
    width: 350px;
    height: 300px;
    left: 5rem;
    top: 3rem;
  }
}
.description__content {
  padding: 0.5rem 3rem 2rem 3rem;
  margin: 0 auto;
  @include m.tablet {
    padding: 2rem 8rem 2rem 8rem;
    @include m.grid(2, 3rem, 1fr 1fr);
  }
}

.project_section-title {
  text-align: center;
  font-weight: v.$black;
  font-size: 2rem;
  margin: 1rem 0 2rem 0;
}

.tech_title {
  font-size: 2rem;
  text-align: center;
}
.content-info-project {
  color: v.$grey;
  font-size: 1.5rem;
  @include m.tablet {
    padding: 2rem;
  }
  span {
    font-weight: v.$dark;
  }
  &.desc-list {
    list-style: none;
    color: v.$grey;
    font-size: 1.5rem;
    margin: 2rem;
  }
}

@include m.tablet {
  .content-info-project:nth-child(2) {
    padding-top: 5rem;
  }
}

.skills__used {
  margin: 1rem auto 2rem auto;
  padding: 1rem;
  list-style: none;
  padding: 0;
  @include m.grid(2, 2rem);

  .skill__used {
    font-size: 1.8rem;
    padding: 5px 20px;
    margin: 2.5px 0;
    color: v.$white;
    text-align: center;
    background-color: v.$grey;
    cursor: pointer;
    position: relative;
    transition: all 0.4s;
    z-index: 10;
  }

  .skill__used::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: v.$white;
    transition: all 0.4s;
    z-index: -1;
  }

  .skill__used:hover::before {
    width: 100%;
  }

  .skill__used:nth-child(1)::before {
    background-color: v.$cyan;
  }
  .skill__used:nth-child(2)::before {
    background-color: v.$dark-orange;
  }
  .skill__used:nth-child(3)::before {
    background-color: v.$pink;
  }
  .skill__used:nth-child(4)::before {
    background-color: v.$dark-yellow;
  }
}

.skills__used.DB li:nth-child(3) {
  grid-column: 1 / span 2;
}

.skills__used.BE li:nth-child(1) {
  grid-column: 1 / span 2;
}
.skills__used.WS li:nth-child(1) {
  grid-column: 1 / span 2;
}
.skills__used.TA li:nth-child(3) {
  grid-column: 1 / span 2;
}
.skills__used.ARC li:nth-child(1) {
  grid-column: 1 / span 2;
}

.link__buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.repository__button {
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.4s;
  cursor: pointer;
  position: relative;
  background-color: rgb(31, 31, 31);
  overflow: hidden;
  margin: 2rem auto 1rem auto;
}

.svgIcon {
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: white;
}

img.svgIcon {
  filter: invert(1);
}

.text {
  position: absolute;
  color: rgb(255, 255, 255);
  width: 120px;
  font-weight: 600;
  opacity: 0;
  transition-duration: 0.4s;
}

.repository__button:hover {
  width: 125px;
  transition-duration: 0.4s;
  border-radius: 30px;
}

.repository__button:hover .text {
  opacity: 1;
  transition-duration: 0.4s;
}

.repository__button:hover .svgIcon {
  opacity: 0;
  transition-duration: 0.3s;
}
