@use "base/variables" as v;
@use "base/mixins" as m;

.scroll-up {
  position: fixed;
  z-index: 2;

  background: v.$gradient-pink-blue;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
  &:hover {
    transform: scale(1.2);
  }
}

.ri-arrow-up-double-line {
  color: v.$white;
}
