<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Neucha&family=Purple+Purse&display=swap"
      rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
      rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="../public/build/css/app.css" />
    <title>Audit tracker-Stephanie Gonzalez</title>
    <link rel="shortcut icon" href="../public/build/img/SG.png" />
  </head>
  <body>
    <div class="main">
      <section class="header" id="project-home">
        <div class="nav__container">
          <div class="nav__bar">
            <div class="nav__logo" data-aos="zoom-in" data-aos-duration="1500">
              <a href="../index.html#home" class="nav__logo--title"
                >Stepha<span class="nav__logo--dot">•</span
                ><span class="nav__logo--lastname">Gonz</span></a
              >
            </div>
            <div class="nav__icon">
              <i class="ri-menu-5-line"></i>
            </div>
          </div>
          <div class="nav__menu">
            <div class="nav__menu--links">
              <a href="../index.html#home" class="nav__menu--link">Home</a>
              <a href="../index.html#about" class="nav__menu--link">About</a>
              <a href="../index.html#skills-services" class="nav__menu--link">Skills</a>
              <a href="../index.html#projects" class="nav__menu--link">Projects</a>
              <a href="../index.html#career" class="nav__menu--link">Career</a>
              <a href="../index.html#contact" class="nav__menu--link">Contact</a>
              <i class="ri-sun-line nav__menu--link-darkmode"></i>
            </div>
            <div class="nav__close">
              <i class="ri-close-circle-fill nav__menu--link-close"></i>
            </div>
          </div>
        </div>
        <a href="../index.html#projects" class="back-to">
          <h3 class="back-to--text"><i class="ri-arrow-left-circle-fill"></i>Go Back</h3>
        </a>
        <div class="header__project--container" data-aos="zoom-in-down" data-aos-duration="1500">
          <h1 class="header__project--title">Audit Tracker</h1>
          <div class="project__video--container">
            <video
              controls
              src="../public/build/video/audittracker-pre.mp4"
              type="video/mp4"
              class="project__video--play"></video>
            <a href="https://youtu.be/ku4SosX4mQ4" class="project__video--button" target="_blank"
              ><i class="ri-play-circle-line"></i> See full video</a
            >
          </div>
        </div>
      </section>
      <section class="project" id="project">
        <div class="project__description--info">
          <h1 class="project__description--title">DESCRIPTION</h1>
          <div class="project__resume">
            <div class="project__resume--content">
              <div class="project__resume--overview">
                <div class="project__resume--title">PROJECT OVERVIEW</div>
                <p class="project__resume--info container">
                  During my internship at Concentrix, I worked on a data analysis project that
                  involved developing an automated audit tracker. This project utilized Excel macros
                  and VBA to streamline the quality evaluation process. The system was designed to
                  automate the data collection and reporting, thereby improving the efficiency of
                  the quality assurance team.
                </p>
                <p class="project__resume--info container">
                  The automated tracker included a comprehensive dashboard that presented key
                  metrics such as frequent call patterns, outliers, average performance by team,
                  pending and completed audits, and more. This dashboard allowed filtering by week,
                  individual quality evaluators, and team leaders, providing valuable insights into
                  performance trends.
                </p>
                <p class="project__resume--info container">
                  The project was successfully implemented in the campaign where I worked,
                  demonstrating its effectiveness in enhancing data analysis and decision-making
                  processes. It’s important to note that all data showed in the video was generated
                  randomly to maintain confidentiality and did not relate to real campaign data.
                </p>
              </div>
              <div class="project__tools--content">
                <div class="project__tools--title">TECHNOLOGIES USED.</div>
                <div class="project__tools--technologies">
                  <div class="project__tools--tech-container">
                    <h3 class="project__tools--title-secondary">
                      <i class="ri-tools-line"></i>Data Managment
                    </h3>
                    <ol class="project__tools--skills odd--one">
                      <li class="project__tools--skill">Excel</li>
                    </ol>
                    <h3 class="project__tools--title-secondary">
                      <i class="ri-tools-line"></i>Automation
                    </h3>
                    <ol class="project__tools--skills even">
                      <li class="project__tools--skill">Macros</li>
                      <li class="project__tools--skill">VBA</li>
                    </ol>
                    <h3 class="project__tools--title-secondary">
                      <i class="ri-tools-line"></i>Communication
                    </h3>
                    <ol class="project__tools--skills odd--one">
                      <li class="project__tools--skill">Email system via macros</li>
                    </ol>
                  </div>
                  <div class="project__tools--tech-container">
                    <h3 class="project__tools--title-secondary">
                      <i class="ri-tools-line"></i>Data Analysis
                    </h3>
                    <ol class="project__tools--skills odd--three">
                      <li class="project__tools--skill">Critical thinking</li>
                      <li class="project__tools--skill">Data filtering</li>
                      <li class="project__tools--skill">Performance metrics</li>
                    </ol>
                    <h3 class="project__tools--title-secondary">
                      <i class="ri-tools-line"></i>Reporting
                    </h3>
                    <ol class="project__tools--skills even">
                      <li class="project__tools--skill">Dashboard creation</li>
                      <li class="project__tools--skill">Audit tracking</li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <button id="scroll-up " class="scroll-up">
        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 0h24v24H0z" fill="none"></path>
          <path
            fill="rgba(255,255,255,1)"
            d="M11.9997 10.8284L7.04996 15.7782L5.63574 14.364L11.9997 8L18.3637 14.364L16.9495 15.7782L11.9997 10.8284Z"></path>
        </svg>
      </button>
    </div>
    <footer class="footer" id="footer">
      <div class="footer__container container">
        <div class="footer__container--nav">
          <a href="../index.html#home" class="footer__container--link">Home</a>
          <a href="../index.html#skills-services" class="footer__container--link">Skills</a>
          <a href="../index.html#projects" class="footer__container--link">Projects</a>
          <a href="../index.html#contact" class="footer__container--link">Contact</a>
        </div>
        <div class="footer__container--contact">
          <div class="footer__container--card">
            <img
              src="../public/build/img/phone.svg"
              alt="phone icon"
              class="footer__container--icon" />
            <h2 class="footer__container--title">Phone</h2>
            <p class="footer__container--text">(+57) 3125359116/3107991662</p>
          </div>
          <div class="footer__container--card">
            <img
              src="../public/build/img/email.svg"
              alt="email icon"
              class="footer__container--icon" />
            <h2 class="footer__container--title">Email</h2>
            <p class="footer__container--text">gstephaniegonz@gmail.com</p>
          </div>
          <div class="footer__container--card">
            <img
              src="../public/build/img/location.svg"
              alt="phone icon"
              class="footer__container--icon" />
            <h2 class="footer__container--title">Location</h2>
            <p class="footer__container--text">Bogotá, Colombia</p>
          </div>
        </div>
        <span class="footer__copy"> &#169; All Rights Reserved By <span>Stepha-Gonz</span> </span>
      </div>
    </footer>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>

  <script src="../public/build/js/main.min.js"></script>
</html>
