@use "variables" as v;
@use "mixins" as m;

.dark-mode {
  background-color: #3f4251;

  .header {
    background-image: linear-gradient(
        170deg,
        rgba(49, 52, 68, 0.9493173978575805) 45%,
        rgba(49, 52, 68, 0.9484770617231268) 45%
      ),
      image-set(
        url("../img/portada.avif") 1x,
        url("../img/portada.webp") 1x,
        url("../img/portada.jpg") 1x
      );
    background-repeat: no-repeat;
    background-position: left, left, left;
    background-size: cover, cover, cover;

    &__title {
      &--main {
        color: v.$white;
      }
    }
    &__description {
      &--title {
        color: v.$white;
      }
      &--text {
        color: v.$white;
      }
      &--animation {
        span {
          &::after {
            background-color: #3b3e4d;
          }
        }
      }
    }
    &__project {
      &--title {
        color: v.$white;
      }
    }
  }
  .nav {
    &__logo {
      &--lastname {
        color: v.$white;
      }
    }
    &__icon {
      color: v.$white;
    }
    &__menu {
      &--link,
      &--link-darkmode {
        @include m.desktop {
          color: v.$white;
          &::after {
            background-color: v.$white;
          }
        }
      }
    }
  }

  .mouse-btn {
    border: 3px solid v.$white;
  }
  .mouse-text {
    color: v.$white;
  }
  .skills-services {
    background-color: v.$violet;
    &__title {
      &--skills,
      &--services {
        color: v.$white;
      }
    }
    &__skill {
      &--container {
        background-color: lighten(v.$dark-blue, 10%);
      }
    }
  }
  .career {
    background-color: v.$violet;
    &__container {
      &--title {
        color: v.$white;
      }
    }
    &__timeline {
      &--title {
        color: v.$coral;
      }
      &--date {
        color: v.$white;
      }
      &--content {
        background-color: lighten(v.$dark-blue, 5%);
      }
    }
  }

  .back-to {
    &--text {
      color: v.$white;
      i {
        color: v.$coral;
      }
    }
  }
}
