@use "variables" as v;

@mixin phone {
  @media (min-width: v.$phone) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: v.$tablet) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: v.$desktop) {
    @content;
  }
}

@mixin button($bgColor, $colorTexto) {
  background-color: $bgColor;
  font-family: v.$text-font;
  padding: 1rem 3.5rem;
  color: $colorTexto;
  font-size: 1.6rem;
  display: inline-block;
  font-weight: v.$regular;
  border: none;
  border-radius: 5rem;
  transition-property: background-color;
  transition-duration: 0.3s;
  text-align: center;

  width: fit-content;

  &:hover {
    background-color: darken($bgColor, 10%);
    cursor: pointer;
  }
}

@mixin grid($columns, $spacing, $size-columns: repeat($columns, 1fr)) {
  display: grid;
  gap: $spacing;
  grid-template-columns: $size-columns;

  justify-items: center;
}
@mixin fluid-text($min, $max) {
  font-size: clamp($min, -0.8rem + 10vw, $max);
}
