//*Fuentes
$main-font: "Mukta", sans-serif;
$title-font: "Oswald", sans-serif;

//*media Query
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

//*Colores
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$purple: rgb(67, 39, 73);
$pink: rgb(247, 182, 212);
$dark-pink: rgb(124, 67, 102);
$blue: rgb(69, 122, 235);
$dark-blue: rgba(25, 51, 99, 0.856);
$orange: rgba(240, 146, 58, 0.856);
$cyan: rgb(71, 204, 204);

//* separacion
$separacion: 5rem;

//*tamaño fuentes

$slim: 300;
$regular: 400;
$bold: 700;
$black: 900;
