//*fonts

$main-font: "Arapey", serif;
$title-font: "Purple Purse", serif;
$text-font: "Neucha", cursive;

//*Colors

$violet: #313444;
$red: #590d22;
$coral: #dc7c7b;
$beige: #fef4ea;
$white: #ffffff;
$black: #000000;
$grey: #f5f5f5;
$dark-beige: #eecdbb;
$dark-blue: #232e45;
$light-beige: #fbf7f3;

//*font-size
$slim: 300;
$regular: 400;
$bold: 700;
$dark: 900;

//*media Query
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;
