@use "base/variables" as v;
@use "base/mixins" as m;

#about {
  padding-top: 60px;

  @include m.tablet {
    padding-top: 70px;
  }
  @include m.desktop {
    padding-top: 100px;
  }
}

.about {
  min-height: 100vh;
  overflow: hidden;
  &__title {
    &--text {
      color: v.$white;
      text-align: center;
      @include m.desktop {
        font-size: 24px;
      }
    }
  }
  &__grid {
    padding-top: 3rem;
    place-items: center;
    margin: 0 auto;
    padding-bottom: 2rem;
    @include m.grid(1, 2rem);
    @include m.desktop {
      @include m.grid(2, 2rem);
      padding-top: 10rem;
      max-width: 1200px;
    }
  }
  &__img {
    margin-top: 2rem;
    max-width: 450px;
    @include m.desktop {
      width: 400px;
    }
  }
  &__description {
    font-family: v.$text-font;
    color: v.$white;
    font-size: 18px;
    text-align: center;
    margin: 1.5rem;
    @include m.desktop {
      text-align: left;
      font-size: 24px;
    }
    &--text {
      span {
        background: v.$gradient-purple-cyan2;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    &--button {
      display: flex;
      justify-content: center;
      font-family: v.$small-title;
      font-size: 28px;
      background: v.$gradient-pink-blue;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
