@use "base/variables" as v;
@use "base/mixins" as m;
#career {
  padding-top: 60px;

  @include m.tablet {
    padding-top: 70px;
  }
  @include m.desktop {
    padding-top: 100px;
  }
}

.career {
  min-height: 100vh;
  overflow: hidden;
  &__timeline {
    background-color: #8a5ec410;
    backdrop-filter: blur(0.4rem);
    padding: 0 3rem 2rem 4rem;
    border-radius: 2rem;
    margin: 3rem auto;
    @include m.tablet {
      max-width: 120rem;
    }
    &--information {
      display: flex;
      flex-direction: column;
      @include m.tablet {
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
    }
    &--title {
      @include m.desktop {
        width: 300px;
      }
    }
    &--description {
      @include m.tablet {
        margin-left: 2rem;
        max-width: 60rem;
      }
    }
    &--position {
      font-family: v.$secondary-title;
      background: v.$gradient-purple-cyan1;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &--positionedu {
      font-family: v.$secondary-title;
      background: v.$gradient-pink-blue;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &--site {
      font-family: v.$small-title;
    }
    &--text {
      font-family: v.$text-font;
      font-size: 1.5rem;
      @include m.desktop {
        font-size: 2rem;
      }
    }
  }
  &__accordion {
    &--title {
      font-family: v.$small-title;
      background: v.$gradient-purple-cyan1;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &--info {
      display: flex;
      flex-direction: column;
      @include m.tablet {
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
  &__modal {
    &--bg {
      background-color: #3b176950;
      backdrop-filter: blur(0.4rem);
    }
    &--img {
      max-width: 300px;
    }
  }
}
#accordion-flush {
  width: 100%;
}
