@use "base/variables" as v;
@use "base/mixins" as m;

.contact {
  &__container {
    background-color: v.$dark-blue;
    @include m.grid(1, 2rem);
    &--title {
      color: v.$white;
    }
  }
  &__info {
    &--text {
      text-align: center;
      color: v.$white;
      font-size: 24px;
      font-family: v.$text-font;
    }
  }
}
.cardContainer {
  margin-top: 3rem;
  width: 250px;
  height: 300px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition-duration: 0.5s;
  cursor: pointer;
}

.profileDiv {
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: v.$beige;
  transition-duration: 0.5s;
  color: v.$red;
  &__title {
    text-align: center;
    font-family: v.$title-font;
  }
  &__img {
    width: 200px;
  }
}

.cardContainer:hover .profileDiv {
  transform: translateX(-25%) translateY(-25%);
  transition-duration: 0.5s;
}

.cardContainer.active .profileDiv {
  transform: translateX(-25%) translateY(-25%);
  transition-duration: 0.5s;
}

.infoDiv {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: v.$white;
  z-index: 1;
}

.contactDiv {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  background-color: v.$white;
  gap: 2px;
  padding: 0.5rem;
}

.email {
  margin: 0 1rem;
  padding: 0;
  font-size: 15px;
  font-weight: v.$regular;
  color: v.$black;
  font-family: v.$main-font;
  span {
    color: v.$dark-blue;
    margin-right: 2rem;
  }
}
.phone {
  margin: 0 1rem;
  padding: 0;
  font-size: 15px;
  font-weight: v.$regular;
  color: v.$black;
  span {
    color: v.$dark-blue;
    margin-right: 2rem;
  }
}
.location {
  margin: 0 1rem;
  padding: 0;
  font-size: 15px;
  font-weight: v.$regular;
  color: v.$black;
  span {
    color: v.$dark-blue;
    margin-right: 2rem;
  }
}

.socialDiv {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: v.$dark-blue;
  gap: 25px;
}

.infoDiv a {
  width: 50%;
}

.socials {
  width: 100%;
  fill: v.$dark-blue;
}

//*links

.wrapper {
  display: inline-flex;
  list-style: none;
  height: 120px;
  width: 100%;
  padding: 0;
  font-family: "Poppins", sans-serif;
  justify-content: center;
}

.wrapper .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: v.$black;

  svg {
    width: 35px;
    height: 35px;
  }
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: v.$black;
  color: #fff;
}
