@use "base/variables" as v;
@use "base/mixins" as m;

.footer {
  background-color: v.$violet;
  &__container {
    @include m.grid(1, 2rem);

    &--nav {
      margin-top: 2rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 5px;
    }
    &--link {
      font-family: v.$text-font;
      color: v.$white;
      &:hover {
        color: v.$coral;
      }
    }
    &--contact {
      @include m.tablet {
        @include m.grid(3, 1rem);
      }
    }
    &--card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &--title,
    &--text {
      text-align: center;
      color: v.$white;
      margin: 0.5rem;
    }
  }
  &__copy {
    color: v.$white;
    span {
      color: v.$coral;
      font-weight: v.$bold;
    }
  }
}
