@use "base/variables" as v;
@use "base/mixins" as m;

.footer {
  border: 2px solid #0f002310;
  background-color: #8a5ec410;
  backdrop-filter: blur(0.4rem);

  &__container {
    @include m.grid(1, 2rem);

    &--nav {
      margin-top: 2rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 5px;
    }
    &--link {
      font-family: v.$text-font;
      color: v.$white;
      &:hover {
        color: v.$purple;
      }
    }
    &--contact {
      @include m.tablet {
        @include m.grid(3, 1rem);
      }
    }
    &--card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &--title,
    &--text {
      text-align: center;
      color: v.$white;
      margin: 0.5rem;
    }
    &--title {
      font-size: 16px;
    }
    &--icon {
      width: 25px;
      height: 25px;
    }
  }
  &__copy {
    margin: 0;
    color: v.$white;
    span {
      color: v.$cyan;
      font-weight: v.$bold;
    }
  }
}
