@use "base/variables" as v;
@use "base/mixins" as m;

.header {
  background-image: linear-gradient(
      90deg,
      rgba(254, 244, 234, 0.720745969286152) 20%,
      rgba(254, 244, 234, 0.5095414874934349) 59%
    ),
    image-set(
      url("../img/portada.avif") 1x,
      url("../img/portada.webp") 1x,
      url("../img/portada.jpg") 1x
    );
  background-repeat: no-repeat;
  background-position: left, left, left;
  background-size: cover, cover, cover;
  &__container-main {
    position: relative;
  }
  &__container-wave {
    position: absolute;
    bottom: -15px;
    width: 100%;
    z-index: 1;
  }

  &__container {
    position: relative;
    z-index: 2;
    margin: 1rem auto;
    @include m.grid(1, 2rem);

    @include m.tablet {
      @include m.grid(2, 1rem);
    }
    @include m.desktop {
      width: 1200px;
      @include m.grid(2, 5rem);
    }
  }
  &__title {
    @include m.tablet {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &--secondary {
      text-align: center;
      font-family: v.$text-font;
      font-size: 30px;
      font-weight: v.$slim;
      color: v.$coral;
    }
    &--main {
      text-align: center;
      font-family: v.$title-font;
      font-size: 35px;
      color: v.$red;
      @include m.tablet {
        margin: 0;
      }
    }
  }
  &__image {
    max-width: 350px;
    @include m.tablet {
      max-width: 500px;
      min-width: 420px;
      grid-row: 1/3;
      grid-column: 2/3;
    }
  }

  &__description {
    font-family: v.$main-font;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include m.tablet {
      margin: 0 auto;
      padding: 2rem;
      justify-content: flex-start;
      align-items: flex-start;
    }
    &--title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: v.$red;
      margin: 0;
      font-size: 25px;
      text-align: center;
      @include m.tablet {
        flex-direction: row;
      }
      @include m.desktop {
        font-size: 32px;
      }
    }
    &--ima {
      margin: 2rem 0 0 0;
      @include m.tablet {
        margin: 0 1rem 0 0;
      }
    }
    &--animation {
      margin: 0 0 0 0;
      text-align: center;
      span {
        position: relative;
        &::before {
          content: "Systems Engineer";
          color: v.$coral;
          animation: words 20s infinite;
        }
        &::after {
          content: "";
          background-color: #fcf5ef;
          position: absolute;
          width: calc(100% + 8px);
          height: calc(100% + 8px);
          border-left: 5px solid v.$coral;
          right: -5px;
          animation: typing 20s steps(14) infinite;
        }
      }
    }
    &--text {
      margin-top: 3rem;
      font-size: 20px;
      color: v.$red;
      margin-bottom: 2rem;
      text-align: center;
      @include m.tablet {
        text-align: left;
      }
    }
    &--button {
      @include m.button(v.$coral, v.$white);
    }
  }
}

@keyframes words {
  0%,
  20% {
    content: "Systems Engineer";
  }
  21%,
  40% {
    content: "Chemical Engineer";
  }
  41%,
  60% {
    content: "Data Analyst";
  }
  61%,
  80% {
    content: "Web Developer";
  }
  81%,
  100% {
    content: "Leader";
  }
}

@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 10px);
  }
}
