@use "base/variables" as v;
@use "base/mixins" as m;

.home.section {
  margin-top: 0;
}

//,HOME IMAGE AND FORMS
.home__perfil {
  position: relative;
  justify-self: center;
}

.home__image {
  width: 225px;
  position: relative;
  right: 2rem;
}

.home__img {
  margin-top: 0.5rem;
  position: relative;
  z-index: 10;
}

.home__shadow {
  width: 100%;
  height: 95%;
  background-color: v.$dark-red;
  position: absolute;
  bottom: -2rem;
  right: -2rem;
  border: 4px solid v.$black;
  z-index: 5;
}

.home__arrow,
.home__fire {
  position: absolute;
}

.home__arrow {
  left: -45%;
  bottom: -5rem;
  transform: rotate(180deg);
  width: 200px;
  z-index: 2;
}

.home__fire {
  left: 80%;
  bottom: 29rem;
  transform: rotate(345deg);
  width: 110px;
  z-index: -1;
}
//,SOCIAL LINKS

.contact__social-links__home {
  position: relative;
  right: -22rem;
  top: -25rem;
  width: 8rem;
  height: 10px;
}
.wrapper__home {
  list-style: none;

  width: 100%;
  padding: 10px;
}

.wrapper__home .icon {
  position: relative;
  background: v.$red;
  border-radius: 50%;
  margin: 10px;
  width: 40px;
  height: 40px;

  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: v.$black;

  svg {
    width: 35px;
    height: 35px;
  }
}

.wrapper__home .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper__home .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper__home .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper__home .icon:hover span,
.wrapper__home .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper__home .linkedin:hover,
.wrapper__home .linkedin:hover .tooltip,
.wrapper__home .linkedin:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}

.wrapper__home .github:hover,
.wrapper__home .github:hover .tooltip,
.wrapper__home .github:hover .tooltip::before {
  background: v.$black;
  color: #fff;
}

//,DESCRIPTION

.home__info {
  margin-top: 1rem;
}
.ima {
  text-align: center;
  margin-bottom: 0;
}

.home__description {
  text-align: center;
  color: v.$black;
  margin-bottom: 1.5rem;
}

.home__description span {
  font-weight: v.$bold;
}
.majors {
  background: linear-gradient(
    90deg,
    rgba(212, 135, 138, 0.6783088235294117) 10%,
    rgba(230, 225, 205, 0.7959558823529411) 59%
  );
}

.slogan {
  background: linear-gradient(
    90deg,
    rgba(230, 225, 205, 0.7959558823529411) 10%,
    rgba(212, 135, 138, 0.6783088235294117) 61%
  );
}

//,Download button

.download-btn {
  display: block;
  height: 45px;
  width: 105px;
  cursor: pointer;
  background: white;
  border: none;
  background: v.$black;
  border-radius: 30px;
  overflow: hidden;
  margin: 1rem auto;
}

.button-content {
  transform: translateY(-45px);
  transition: all 250ms ease-in-out;
}

.svg-container,
.text-container {
  height: 45px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container .text {
  font-size: 13px;
  color: #fff;
  font-weight: 600;
  opacity: 1;
  transition: opacity ease-in-out 250ms;
}

.download-icon {
  height: 25px;
  width: 25px;
  fill: v.$red;
  opacity: 0;
  transition: opacity ease-in-out 250ms;
}

/* hover state for the button */
.download-btn:hover .button-content {
  transform: translateY(0px);
}

.download-btn:hover .text {
  opacity: 0;
}

.download-btn:hover .download-icon {
  opacity: 1;
}

.download-btn:focus .download-icon {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

//, MEDIA and LARGE screen

.home__container {
  @include m.tablet {
    height: 500px;
    @include m.grid(2, 2rem);
    justify-content: center;

    .home__perfil {
      position: relative;
      top: 5rem;
    }

    .home__name {
      position: relative;
      top: 5rem;
    }

    .home__arrow {
      top: -10rem;
      left: -10rem;
    }

    .home__info {
      position: relative;
      top: -30rem;
      margin: 0 auto;
      text-align: center;
    }
    .home__scroll {
      margin: 0;
    }
    .btn-box {
      display: flex;
      justify-content: center;
      gap: 1rem;
      align-items: center;
    }
    .home__fire {
      top: 30rem;
      transform: rotate(180deg);
    }
  }
}
