@use "base/variables" as v;
@use "base/mixins" as m;

.skills__container {
  background-color: v.$light-brown;
  width: 100%;
  border-radius: 0px 100px 10px 200px;
  -moz-border-radius: 0px 100px 10px 200px;
  -webkit-border-radius: 0px 100px 10px 200px;
  border: 0px solid #000001;
}

.skills-items {
  margin: 1rem auto;
  padding: 1rem;
  text-align: center;
  background-color: v.$dark-brown;
  border-radius: 1rem;
  transition: transform 0.3s ease; /* Transición de escala */
  width: 100px;
}

.skills-items:hover {
  transform: scale(1.1); /* Escala al 110% cuando se hace hover */
  background-color: v.$dark-yellow;
  .title-logo {
    color: v.$black;
  }
}

.title-logo {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: v.$white;
}

.skill-logo {
  width: 100px;
  height: 50px;
}

.skills-grid {
  padding: 2rem;
  margin-bottom: 2rem;

  @include m.grid(2, 1);

  @include m.tablet {
    @include m.grid(3, 2.5);
  }
}

.item-9 {
  grid-column: span 2;

  @include m.tablet {
    grid-column: span 1;
  }
}
