@use "base/variables" as v;
@use "base/mixins" as m;

.skills__container {
  background-color: v.$light-brown;
  width: 100%;
  border-radius: 0px 100px 10px 200px;
  -moz-border-radius: 0px 100px 10px 200px;
  -webkit-border-radius: 0px 100px 10px 200px;
  border: 0px solid #000000;
}
.title__box {
  margin: 0.75rem auto 0.5rem;
  text-align: center;
}
.skills-subtitle {
  font-family: v.$logo-font;
  color: v.$dark-brown;
  z-index: 3;
  position: relative;
}
.skills__title-wrapper {
  position: relative;
}
.skills-title {
  position: relative;
  z-index: 2;
  font-size: 2.5rem;
  font-family: v.$title-font;
  padding: 0 0.5rem;
  font-weight: v.$bold;
}
.skills__title-shape {
  width: 35px;
  height: 25px;
  position: absolute;
  background-color: v.$yellow;
  z-index: 1;
  transform: translate(50%, -50%);
  top: 0.5rem;
  right: 3.5rem;
}

.skills-items {
  margin: 1rem auto;
  padding: 1rem;
  text-align: center;
  background-color: v.$dark-brown;
  border-radius: 1rem;
  transition: transform 0.3s ease; /* Transición de escala */
  width: 100px;
}

.skills-items:hover {
  transform: scale(1.1); /* Escala al 110% cuando se hace hover */
  background-color: v.$dark-yellow;
  .title-logo {
    color: v.$black;
  }
}

.title-logo {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: v.$white;
}

.skill-logo {
  width: 100px;
  height: 50px;
}

.skills-grid {
  padding: 2rem;
  margin-bottom: 2rem;

  @include m.grid(2, 1);

  @include m.tablet {
    @include m.grid(3, 2.5);
  }
}

.item-9 {
  grid-column: span 2;

  @include m.tablet {
    grid-column: span 1;
  }
}
